.container {
    background-color: rgb(66, 255, 233);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nfimg {
    width: 50%;
}

.nft {
    /* background-color: red; */
    background-color: rgba(88, 88, 88, 0.3);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.hbtn {
    background-color: rgba(88, 88, 88, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    /* color: whitesmoke; */
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}

.hbtn:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width:500px) {
    .nft {
        font-size: 15px;
    }

    .nfimg {
        width: 100%;
    }
}